# Python & Sanal Ortamlar
myenv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Veri Seti ve İşlenmiş Veriler (15 GB - GitHub'a yüklenmez)
wcs_cameratrap_data/
processed_data/

# Test ve Çıkarım Görsel Çıktıları (Büyük boyutlu görseller)
runs/detect/test_cikti/
test_cikti/

# Model Ağırlıkları İstisnaları
*.pt
!weights/*.pt
!runs/detect/wcs_projesi/**/*.pt
*.pth

# Sistem ve Editör Dosyaları
.DS_Store
**/.DS_Store
.vscode/
.idea/
*.swp
*.swo
